:root {
  --dark: #04070a;
  --blue: #2aefcb;
  --bright: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--bright);
  background-color: #655d72;
  width: 100vw;
  margin: 0;
	padding: 0;
}

.page-title img{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


h2 {
  font-size: 4rem;
  text-align: center;
}

h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: 'Times New Roman', Times, serif;
}
p {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
/* This covers the entire main page with a backgroung picture  */
header {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    background-size: cover;
    background-position: center;
}


main {
  width: 96%;
  margin: 2rem auto;
}

footer {
  margin: 1.5rem;
  text-align: center;
}
/* This allow the picture to float left so the text goes to the right rather than under  */
.float-left {
  float: left;
  margin-right: 25px;
  height: 30rem;
  width: auto;
}

/* .card-body img{
  width: 20px;
} */


.card-column {
  flex: 1 0 100%;
  padding: 1.5rem;
  transition: flex-basis 500ms linear;
  margin-bottom: 3rem;
  }

.code-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  color: var(--bright);
  outline: 2px inset var(--bright);
  outline-offset: -2px;
  transition: all 0.5s ease-in-out;
  margin-bottom: 10rem;
  background-color: #b8c6db;
}

.container {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.carousel-item img{
  width: auto;
  height: 500px;
  max-height: 500px;
  margin: auto; 
  display: block;
  }

.carousel-item h5{
  font-size: 40px;
  color: white;
  }

.carousel-item p{
  font-size: 15px;
  color: white;
  }

.carousel-caption{
  background: rgba(25, 25, 25, .5);

}



/* Added this to allow the list to postion content in a row   */
.flex {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  background-size: cover;
  width: 29rem;
  height: 29rem;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  color: rgb(0, 0, 0);
  font-size: 4rem;
  text-align: center;
  position: relative;
}

.flex:hover {
  width: 32rem;
  height: 32rem;
  box-shadow: inset 0px 0px 10px var(--dark), 0 0 15px var(--dark);
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.code-card .card-header {
  position: relative;
  margin: -4rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  background-color: #4d4855;
  color: var(--bright);
  border: 2px groove var(--bright);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 10px var(--bright), 0 0 15px var(--bright);
}

.code-card .code-block {
  flex-grow: 1;
}
.nav-link {
  font-size: 20px;
  color: whitesmoke;
}

social-icons {
  text-align: center;
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  margin-bottom: 50px;
}

.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:7rem;
  height:7rem;
  margin-right: 4rem;
  filter: grayscale(100%);
}

.social-icons li img:hover{
  transform: scale(1.5);
  box-shadow: #ffffff;
  border: thick;
  color: #ffffff;
  filter: grayscale(0%);
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Made the sidebar move to the top so it doesn't cover header*/
@media screen and (max-width: 1200px) {
  .sidenav a {
    font-size: 18px;
    color: black;
    text-shadow: 2px 2px 8px #000000;}
  .sidenav { 
    background-color: transparent;
    width: 100%;
    position: absolute;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    top: 0;
    padding-top: 15px;}
  }

.fade-in {
  animation: fadeIn ease 15s;
    -webkit-animation: fadeIn ease 15s;
    -moz-animation: fadeIn ease 15s;
    -o-animation: fadeIn ease 15s;
    -ms-animation: fadeIn ease 15s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
